
body.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.visivle {
    opacity: 1;
}

.card_body {
    color: white;
    position: relative;
    top: 10%;
    transition: 1s;
}





.card_img_top{
    width: 100%;
    height: 185px;
    object-fit: cover;
    transition: transform 0.3s ease, z-index 0.3s ease; /* transição suave */
    z-index: 1; /* z-index padrão */
    margin-top: 10px;
    
}

.card:hover .card_body{
    top: -60%;
    transform: scale(1.0); /* amplia a imagem em 20% */
    z-index: 2; /* aumenta o z-index para garantir que fique acima dos elementos adjacentes */
    backdrop-filter: blur(100px);
    height: 18em;
}

.card:hover .card_title{
    margin-bottom: 20px !important;
}

.color-custom{
    color: white;

}

.row{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.card div{
    
}

.card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 1.1) !important;
    background-color: #222 !important;
    margin-top: 0.5em !important;
    height: 18em !important;
    margin: 1em;
    width: 20rem !important;
    overflow: hidden;
}


.card_title{
    font: 800;
    color: white !important;
    margin-bottom: 150px !important;
}

.card_text{
    margin-top: 10px;
    color: white;
}

.price-button-container {
    display: flex;
    align-items: center;
}

.buyButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 10px; /* Espaço entre o botão e o preço */
}

/* Outras regras do seu CSS permanecem inalteradas */


h4{
    color: white !important;
}