.container {
    background-color: #222;
    margin-top: 2em  !important;
    border-radius: 10px;
    box-shadow: 0 6px 10px #222;
    display: flex;
    justify-content: center;
    width: 100% !important;
    padding: 20px;
}


.container label{
    margin-right: 1.5em !important;
}


