.container {
    background-color: #222;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 6px 10px #222;
    display: flex;
    justify-content: center;
    width: 38rem !important;
    height: 25em;
}


